body {
  padding: 0px;
  font-family: sans-serif;
}

.navContainer{
  background-color: #8C3EC9;
}

.navText{
  color:white;
  font-family: 'Montserrat';
  text-decoration: none;
  font-weight: 800;
  font-size: 24px;
}

.col{
  height: fit-content;
}

.row{
  position: relative;
  align-items: center;
}

img.logoImg {
  
  display: block;
  max-width:230px;
  max-height:55px;
  width: auto;
  height: auto;
}

.dashboardHeader{
  color: black;
  font-family: 'Montserrat';
  font-weight: 800;
  text-decoration: none;
  font-size: 34px;
  padding-top: 70px;
}

.dashboardVL{
  border-left: 3px solid black;
  height: 500px;
  top: 150px;
  position:absolute;
  left: 50%;
  width: 1px;
}

.dashboardHL{
  border-top: 3px solid #BFBFBF;
  width: 400px;
  position: absolute;
  height: 1px;
  align-self: center;
}

.buttonFit{
  margin: 0%;
  padding:0%;
  border: none;
  background: none;
}

.dashboardRowHeader{
  padding-left: 7%;
}

.dashboardCardImage{
  align-content: center;
}

.dashboardStandardText{
  font-size: 18px;
  font-family: 'Montserrat';
  align-self: center;
}

.dashboardStartButton{
  border: none;
  background: none;
}

.dashboardImageRow{
  padding-top: 10%;
}