body {
  padding: 0px;
  font-family: sans-serif;
}

.navContainer{
  background-color: #8C3EC9;
}

.navText{
  color:white;
  font-family: 'Montserrat';
  text-decoration: none;
  font-weight: 800;
  font-size: 24px;
}

img.logoImg {  
  display: block;
  max-width:230px;
  max-height:55px;
  width: auto;
  height: auto;
}

.dashboardHeader{
  color: black;
  font-family: 'Montserrat';
  font-weight: 800;
  text-decoration: none;
  font-size: 34px;
  padding-top: 70px;
}

.dashboardVL{
  border-left: 3px solid black;
  height: 500px;
  top: 150px;
  position:absolute;
  left: 50%;
  width: 1px;
}

.blackHeader {
  color:black;
  font-family: 'Montserrat';
  font-weight: 800;
}

.purpleHeader {
  color: #68259D;
  font-family: 'Montserrat';
  font-weight: 800;
}

.whiteHeader{
  color: white;
  font-family: 'Montserrat';
  font-weight: 800;
}

.p {
  font-family: 'Montserrat';
  color: black;
}

.sectionContainer {
  margin-top:50px;
  width: 70%;
  margin-left:auto;
  margin-right:auto;
}

.sectionContainer.start{
  margin-top:0px;
}

.sprintPlanImg{
  max-width: auto;
  max-height:auto;
}

.size{
  width:600px;
  height:300px;
}

.purpleBtn{
  background-color:#68259D;
  border-radius: 301px;
  padding:20px;
  border: none;
  align-items: center;;
  margin-left: auto;
  margin-right:auto;
}

.dashboardHL{
  border-top: 3px solid #BFBFBF;
  width: 400px;
  position: absolute;
  height: 1px;
  align-self: center;
  margin-left: 4%;
  margin-top: 1%;
}

.dashboardStandardText{
  font-size: 18px;
  font-family: 'Montserrat';
  align-self: center;
  text-align: center;
}

.dashboardStartButton{
  border: none;
  background: none;
}

.dashboardDivMargin{
  padding-top: 10%;
}

.textTopMargin{
  padding-top: 8%;
}

.roamModeTopTextLeftPadding{
  padding-left: 4%;
}

.alignNavBarText{
  align-items: center;
}

.buttonText{
  color:white;
  font-family: 'Montserrat';
  text-decoration: none;
  font-weight: 800;
  font-size: 18px;
  margin-top: auto;
  margin-bottom: auto;
}

.buttonText.big{
  font-size: 24px;
}

.dashboardStartButton{
  width: 250px;
  height: 85px;
  background-color: #8C3EC9;
  border-radius: 40px;
}

.dashboardStartButton:hover{
  background-color: #834DAE ;
}

.dashboardSignInButton{
  width: 151px;
  height: 51px;
  background-color: #EE6C4D;
  border-radius: 40px;
  border: none;
}

.dashboardCreateAccountButton{
  width: 285px;
  height: 51px;
  background-color: #68259D;
  border-radius: 40px;
  border: none;
}

.methodCard{
  width: 180px;
  height:250px;
  background-color:rgb(255, 255, 255);
  border-radius: 5px;
  border-width: 4px;
  border-style:solid;
  border-color: rgb(0, 0, 0);
  margin-left:20px;
  margin-top:20px;
  
}

.cardImg {
  margin-top:10px;
  width:60%;
  height:40%;
  align-items: center;
}

.cardIcon {
  align-items: center;
}

.cardHeader {
  margin-top:10px;
  font-size: 13px;
  text-align:center;
}

.cardHeader.btnHead {
  margin-top:5px;
}

.cardBtn {
  border-radius:300px;
  background-color:white;
  border-color:black;
  padding:3px;
  width:50%;
  transition: 0.3s;
}

.cardBtn:hover{
  background-color: #B8D0EB;
  color: white;
}

.circle {
  background: lightblue;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  margin-left:0px;
}

.understand { 
  background: #ABBF4A;
}

.define { 
  background: #85953A;
}

.sketch {
  background: #3076DF;
}

.decide {
  background: #8C3A9D;
}

.prototype{
  background: #FF5F5F;
}

.validate {
  background: #E52525;
}

.methodDescriptionPanel{
  width: 1200dpi;
  height: 980px;
  background-color: white;
  border-radius: 3px;
  border-width: 3px;
  border-color: black;
  border-style: solid;
}

.methodDescriptionImage{
  align-items: center;
  width: 30%;
  height: 20%;
}

.methodDescriptionHeader{
  text-align: center;
  font-size: 22px;
  font-family: "Montserrat";
  color: #68259D;
}

.methodDescriptionBodyText{
  font-size: 16px;
  font-family: "Montserrat";
  width: 60%;
}