body {
  padding: 0px;
  font-family: sans-serif;
}

.navContainer{
  background-color: #8C3EC9;
}

.navText{
  color:white;
  font-family: 'Montserrat';
  text-decoration: none;
  font-weight: 800;
  font-size: 24px;
}

img.logoImg {
  
  display: block;
  max-width:230px;
  max-height:55px;
  width: auto;
  height: auto;
}

.dashboardHeader{
  color: black;
  font-family: 'Montserrat';
  font-weight: 800;
  text-decoration: none;
  font-size: 40px;
  padding-top: 400px;
}

.dashboardVL{
  border-left: 3px solid black;
  height: 200px;
  position:absolute;
  left: 50%;
  width: 1px;
}

.blackHeader {
  color:black;
  font-family: 'Montserrat';
  font-weight: 800;
}

.purpleHeader {
  color: #68259D;
  font-family: 'Montserrat';
  font-weight: 800;
}

.whiteHeader{
  color: white;
  font-family: 'Montserrat';
  font-weight: 800;
}

.p {
  font-family: 'Montserrat';
  color: black;
}

.sectionContainer {
  margin-top:50px;
  width: 70%;
  margin-left:auto;
  margin-right:auto;
}

.sectionContainer.start{
  margin-top:0px;
}

.sprintPlanImg{
  max-width: auto;
  max-height:auto;
}

.size{
  width:600px;
  height:300px;
}

.purpleBtn{
  background-color:#68259D;
  border-radius: 300px;
  padding:20px;
  border: none;
  align-items: center;;
  margin-left: auto;
  margin-right:auto;
}